*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
button{ cursor: pointer; border:none; background: none;}
img {width: 100%;}
ul {list-style: none;}
a {text-decoration: none;}

header{
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: #3b141c;
}

header .navbar{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
.navbar .nav-Logo .nav-text{
    color:white
}
.navbar .nav-menu{
    display: flex;
    gap: 10px;
}
.navbar .nav-menu .nav-link{
    padding: 10px 18px;
    color: white;
    font-size: large;
    border-radius: 20px;
    transition: 0.3s ease;
}
.navbar .nav-menu .nav-link:hover{
    color: #3b141c;
    background-color: #e2750f;
}
.nav-actions{
    display: flex;
    align-items: center;
    gap: 16px;

}
.nav-login{
    color: white;
    font-size: 1.4rem;
    padding: 8px 10px;
    border-radius: 50%;
border: 2px solid white;
display: flex;
align-items: center;
justify-content: center;
transition: 0.3s ease;
}
.nav-login:hover{
    color: #3b141c;
    background-color: #e2750f;
    border-color: #e2750f;
}
.menu-toggle{
    display: none;

}
.hamburger{
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    padding: 5px;

    
}
.hamburger span{
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: transform 0.3 ease, opacity 0.3s ease;
}
.menu-toggle:checked ~ .nav-menu + .nav-actions .hamburger span:nth-child(1),
.menu-toggle:checked +.nav-menu + .nav-actions .hamburger span:nth-child(1){
    transform: translatey(8px) rotate(45deg);
}
.menu-toggle:checked ~ .nav-menu + .nav-actions .hamburger span:nth-child(2),
.menu-toggle:checked +.nav-menu + .nav-actions .hamburger span:nth-child(2){
  opacity:0;
}
.menu-toggle:checked ~ .nav-menu + .nav-actions .hamburger span:nth-child(3),
.menu-toggle:checked +.nav-menu + .nav-actions .hamburger span:nth-child(3){
  transform: translatey(-8px) rotate(-45deg);
}
.hero-section{
    background-color: #3b141c;
    min-height: 100vh;
}
.hero-section .section-content{
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: white;
    justify-content: space-between;
    padding: 0 60px;
}
.hero-section .hero-details .title{
    color: #e2750f;
    font-size: 2.3rem;
    font-family:"Miniver" , sans-serif

}
.hero-section .hero-details .subtitle{
    margin-top: 8px;
    font-size: 2.3rem;
    max-width: 70%;

}
.hero-section .hero-details .description{
    font-size: 1.12re;
    max-width: 70%;
    margin:24px 0 40px;
}
.hero-section .hero-details .button{
    padding: 10px 26px;
    background-color: #e2750f;
    color: #3b141c;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: 0.3s ease;
    font-weight: 600;
}
.hero-section .hero-details .buttons{
    display: flex;
    gap: 23px;

}
.hero-section .hero-details .button:hover{
    color: white;
}
.hero-section .hero-image-wrapper{
    max-width: 500px;
    margin-right: 30px;
}

.nav-link{
    padding: 10px 18px;
    color: white;
    border-radius: 20px;
    transition: 0.3s ease;
}
.nav-link:hover{
    color: #3b141c;
     background-color: #e2750f;
}

.hamburger{
    display: none;
}
@media (max-width: 768px) {
    .hamburger{
        display: flex;
    }
    .navbar .nav-menu{
      display: none;
      flex-direction: column;
      width: 100%;
    }
    .menu-toggle:checked + .nav-menu{
        display: flex;
    }
    .hero-section .section-content{
        flex-direction: column-reverse;
        text-align: center;
        padding: 100px 24px 60px;
    }
}
@media(max-width:1024px){
    .hero-section .section-content {padding: 100px 40px 60px; gap: 30px;}
    .hero-section .hero-details .subtitle {font-size: 1.9rem; max-width: 90%;}
    .hero-section .hero-details .description{max-width: 90%;}
    .hero-section .hero-image-wrapper{max-width: 380px; margin-right: 0;}
}
@media (max-width:76px){
    header .navbar {
        padding: 14px 20px;
        position: relative;
        flex-wrap: wrap;
    }
    .hamburger{
        display: flex;
    }
    .navbar .nav-menu{
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #3b141c;
        padding: 10px 0;
        order: 3;
    }
    .menu-toggle:checked + .nav-menu{
        display: flex;
    }
    .navbar .nav-menu .nav-link{
        border-radius: 0;
        padding: 14px 24px;
        font-size: 1rem;
        width: 100%;
        display: block;

    }
    .hero-section .section-content{
        flex-direction: column-reverse;
        justify-content: center;
        padding: 100px 24px 60px;
        text-align: center;
        gap: 30px;
    }
    .hero-section .hero-details .title{font-size: 2rem;}
     .hero-section .hero-details .subtitle{font-size: 1.6rem;max-width: 100%;}
     .hero-section .hero-details .description{font-size: 1rem;max-width: 100%}
     .hero-section .hero-details .button{justify-content: center;flex-wrap: wrap;}
     .hero-section .hero-image-wrapper{max-width: 280px ;margin-right: 0;}
     
     @media (max-width:480px){
        .hero-section .hero-details .title{font-size:  1.7rem;}
        .hero-section .hero-details .subtitle{font-size: 1.3rem;}
        .hero-section .hero-details .description{font-size: 0.95rem;margin: 18px 0 30px;}
        .hero-section .hero-details .button {padding: 10px 20px; font-size: 0.95rem; width: 100%; text-align: center;}
        .hero-section .hero-details .buttons {flex-direction: column;gap: 14px; width: 100%;}
        .hero-section .hero-details .hero-image-wrapper{max-width: 220;}
     }
}