.container {
    display: flex;
    flex-wrap: wrap;        /* permite que las tarjetas salten de fila */
    gap: 20px;
    padding: 20px 40px;
    justify-content: center;
}

.ecard {
    background: linear-gradient(to right, #3b141c, #5c1f2a, #7a2d3b);
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    flex: 0 1 calc(33.333% - 40px);   /* 3 columnas en desktop */
    max-width: 320px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 10px 20px 20px;
    transition: transform 0.3s ease;
    color: #fff;
}

.ecard:hover {
    transform: scale(1.05);   /* efecto zoom al pasar el mouse */
}
.carrito {
    position: fixed;
    top: 10px;
    right: 30px;
    color: #fff;
    font-size: 22px;
    cursor: pointer;

}
.carrito #contador{
    position: absolute;
    top: -8px;
    right: -8px;
    background: #e2750f;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 7px;
    border-radius: 50%;
}
@media (max-width: 768px) {
    .carrito {
        position: relative;
        top: 0;
        right: 0;
    }
}
.menu-icon{
    display: flex;
}
.ecard{
    flex: 0 1 calc(50% - 20px);
}
@media (max-width: 480px) {
    .ecard {
        flex: 0 1 100%;
    }
}